body {
  visibility:hidden;
}

.print {
  visibility:visible;
  -webkit-print-color-adjust: exact;
} 

.noprint {
  visibility:hidden;
}

.mp_title_bar {
  visibility:hidden;
}

/* A4 is wide enough for two item columns */
.left_item {
  float: left;
  width: 290px;
}

.right_item {
  float: right;
  width: 290px;
}