/* div { */
/*     border: 1px solid red; */
/* } */

a {
    text-decoration: none;
    color: black;
}

body {
    background: white;
}

.mp_list {
    background: white;
}

.mp_list_item {
    background: white;
    height: 33px;
    padding-top: 17px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.mp_list_item img {
    height: 50px;
    margin-top: -14px;
    margin-left: -5px;
    margin-right: 2px;
    background: white;
}

.mp_list_item .vsl_check {
    width: 30px;
    height: 30px;
    float:right;
}

.mp_list_item .vsl_check img {
    margin-top: -5px;
    width: 30px;
    height: 30px;
    float:right;
}

img.custom_img{
    width: 50px;
    height: 50px;
    margin-right: 11px;
}

div#vsl_products {
    left: 0px;
    background: white;
}

div#vsl_ViewController {
    padding-top: 0px;
    left: 0px;
    background: white;
}

div#vsl_language {
    background: white;
    left: 0px;
}

.vsl_category_left {
    float: left;
    width: 103px;
    height: 94px;
    margin-left: 5%;
}

.vsl_category_right {
    float: right;
    width: 103px;
    height: 94px;
    margin-right: 5%;
 }

.vsl_category_row {
    clear: both;
    width: 290px;
    height: 94px;
    margin: 0 auto;
    padding-top: 2px;
    
}

.vsl_category_row h2 { 
    font-size: 16px;
}

#btn_basefood {
    background-image: url("../images/btn_basefood.png");
    width: 119px;
    height: 40px;
    padding-top: 54px;
}

#btn_basefood h2 {
    text-align: center;
    /* margin-left: 18px; */
}

#btn_vegetables {
    background-image: url("../images/btn_vegetables.png");
    width: 119px;
    height: 40px;
    padding-top: 54px;
}

#btn_vegetables h2 {
    text-align: center;
    /* margin-left: 17px; */
}

#btn_fruits {
    background-image: url("../images/btn_fruits.png");
    width: 119px;
    height: 40px;
    padding-top: 54px;
}

#btn_fruits h2 {
    text-align: center;
    /* margin-left: 38px; */
}

#btn_spices {
    background-image: url("../images/btn_spices.png");
    width: 119px;
    height: 40px;
    padding-top: 54px;
}

#btn_spices h2 {
    text-align: center;
    /* margin-left: 34px; */
}

#btn_drinks {
    background-image: url("../images/btn_drinks.png");
    width: 119px;
    height: 38px;
    padding-top: 56px;
}

#btn_drinks h2 {
    text-align: center;
    /* margin-left: 35px; */
}

#btn_categories {
    background-image: url("../images/btn_categories.png");
    width: 119px;
    height: 38px;
    padding-top: 56px;
}

#btn_categories h2 {
    text-align: center;
    /* margin-left: 18px; */
}

#btn_getlist {
    background-image: url("../images/btn_getlist.png");
    width: 103px;
    height: 40px;
    padding-top: 54px;
    margin: 0 auto;
}

#btn_getlist h2 {
    text-align: center;
/*     margin-left: 22px; */
}

/* footer elements */
.vsl_main_footer {
    padding: 0px;
    width: 300px;
    margin: 0 auto;
}

.vsl_main_footer h2 { 
    font-size: 15px;
    padding-left:10px;
}

#language_btn {
    padding-top: 40px;
    float:left;
    width: 150px;
}

#btn_about_us {
    float:right;
    width: 120px;
    height: 94px;
    background-image: url("../images/about.png");
}

#btn_about_us h2 {
    padding-top: 60px;
    text-align: center;
}
/* about */

div#vsl_aboutus {
    background: white;
    left: 0px;
}

#about_logo {
    width: 252px;
    height: 166px;
    margin: 0 auto;
    display: block;
}

.mp_about_logo p {
    margin: 10px;
    text-decoration: none;
    text-align: center;
}

.mp_about_buttons {
    text-align: center;
    background: white;
    border: 2px solid black;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 5px;
    width: 200px;
    padding: 4px;
}

.mp_about_buttons a {
    text-decoration: none;

}

.vsl_about_footer {
    margin-top: 20px;
}
